@import 'src/stylesheets/common/_fonts';

@import 'src/stylesheets/common/_mixins';

@import 'src/stylesheets/common/_variables';

.groups {

	&__menu {
		display: flex;

		&__table {
			margin-right: 2%;
		}

		&__table--large {
			flex: 1;
			margin-left: 5%;
		}

		&__actions {
			width: 15%;
			margin-left: 2%;
		}
	}



	&__app-bar {
	    list-style-type: none;
	    margin: 0;
	    margin-bottom: 5%;
	    padding: 0;
	    overflow: hidden;
	    background-color: $highlight-color;

	    & li {
		   float: left;
		}

		& li a, p {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}

		& li a:hover {
		    background-color: $color-grey-medium;
		}

	}

}
