@import 'src/stylesheets/common/_fonts';

@import 'src/stylesheets/common/_mixins';

@import 'src/stylesheets/common/_variables';

@import 'src/stylesheets/common/_button';

.modify-group {

	&__box {
		text-align: left;
		padding-left: 20%;
		padding-right: 20%;
	}

}