@import 'src/stylesheets/common/_fonts';

@import 'src/stylesheets/common/_mixins';

@import 'src/stylesheets/common/_variables';

.appli-buttons {

	@include center-xy();
	top: 30%;
	width: 100%;
	height: 100;
	text-align: center;
	color: $text-color;

	& h1 {
		font-weight: bold;
		font-size: 5em;
		color: $highlight-color;

	}

	& .menu {

		display: flex;
		justify-content: space-around;
		margin-top: 10%;
		width: 80%;
		height: 50%;
		@include center-x();

		&__item {
			font-size: 1.5em;
			margin: 5%;

			& a {
				color: $text-color;
				transition: all 0.3s ease 0s;
			}

			& a:hover {
				color: $highlight-color;
			}
		}

	}

}