<div class="appli-buttons">
	<h1>Administration</h1>
	<div class="menu">

		<div class="menu__item">

			<router-link to="/users" tag="a">
				<i class="fa fa-user"></i> Gérer les utilisateurs
			</router-link>

		</div>
		<div class="menu__item">

			<router-link to="/teams" tag="a">
				<i class="fa fa-user-plus"></i> Gérer les équipes
			</router-link>

		</div>
		<div class="menu__item">

			<router-link to="/groups" tag="a">
				<i class="fa fa-users"></i> Gérer les groupes
			</router-link>

		</div>
	</div>
</div>
