@import 'src/stylesheets/common/_fonts';

@import 'src/stylesheets/common/_mixins';

@import 'src/stylesheets/common/_variables';

.add-user-form {

	&__error {
		margin-bottom: 2%;
	}

	li {

		margin-bottom: 1%;

	}

	& .add-user-state {
		font-size: 1.5em;
		margin-bottom: 2%;
		text-align: center;
	}

}