<div class="users-actions">
	<div>
		<router-link :to="{name: 'addUser'}" tag="button" class="action-button">
			<i class="fa fa-plus">
			Ajouter
		</router-link>
	</div>
	<div>
		<router-link :to="{name: 'importUsers'}" tag="button" class="action-button">
			<i class="fa fa-download">
			Importer
		</router-link>
	</div>
	<div>
		<button v-on:click="downloadCsv()" class="action-button">
			<i class="fa fa-upload">
			Exporter
		</button>
	</div>
	<div>
		<router-link :to="{name: 'passPolicy'}" tag="button" class="action-button">
			<i class="fa fa-key">
			Politique de mots de passe
		</router-link>
	</div>
</div>