<!DOCTYPE html>

<html lang="fr">

<head>

  <title>Vue.js + Webpack Starter</title>

  <meta charset="utf-8">

  <!-- SEO -->
  <meta name="description" content="Vue JS ans Webpack Starter">
  <meta name="keywords" content="Vue JS ans Webpack Starter">
  <meta name="author" content="Systemis">
  <meta name="copyright" content="© Copyright 2016 - Systemis" />
  <meta name="location" content="Paris, FRANCE">
  <meta name="robots" content="index, nofollow">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->

  <!-- Facebook meta -->
  <meta property="og:title" content="Vue JS ans Webpack Starter"/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content="Vue JS ans Webpack Starter"/>
  <meta name="description" content="Vue JS ans Webpack Starter"/>

  <!-- Twitter meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" content="Vue JS ans Webpack Starter">
  <meta name="twitter:description" content="Vue JS ans Webpack Starter">
  <meta name="twitter:image:src" content="">

  <!-- GOOGLE + Share -->
  <meta itemprop="name" content="Vue JS ans Webpack Starter">
  <meta itemprop="description" content="Vue JS ans Webpack Starter">
  <meta itemprop="image" content="">

</head>

<body>

  <div id="application"></div>

</body>

</html>
