<div class="add-group-box">

	<ul class="box-actions-buttons">
		<li><button @click="setAction('addGroupForm')">Attributs du groupe</button></li>
		<li><button @click="setAction('addGroupUsers')">Utilisateurs du groupe</button></li>
		<li><button @click="setAction('addGroupTeams')">équipes du groupe</button></li>
		<li><button @click="setAction('addGroupApps')">Applications du groupe</button></li>
	</ul>
	
	<div class="msg">
		{{msg}}
	</div>

	<div v-show="action==='addGroupForm'">
		<addGroupForm v-on:input="saveInput" v-on:selectChange="saveSelect"></addGroupForm>
	</div>
	<div v-show="action==='addGroupUsers'">
		<addGroupUsers v-on:groupUsers="saveGroupUsers"></addGroupUsers>
	</div>
	<div v-show="action==='addGroupTeams'">
		<addGroupTeams v-on:groupTeams="saveGroupTeams"></addGroupTeams>
	</div>
	<div v-show="action==='addGroupApps'">
		<addGroupApps v-on:groupApps="saveGroupApps"></addGroupApps>
	</div>
	<button @click="submit()" class=" button button--submit">Valider</button>

</div>
