	<div v-if="groupToModify">

		<div v-if="msg">
			{{msg}}
		</div>
		<form>

			<div>
				<label> Identifiant <input type="text" name="firstname" v-model="formInput.ident" @input="inputChange()"></label>
			</div>
			<div>
				<label> Description <input type="text" name="lastname" v-model="formInput.description" @input="inputChange()"></label>
			</div>

			Langue
			<v-select class="v-select" :value="formSelect.lang" :on-change="selectChange"  
			:options="dataToAddGroupReady.languages" label="label"></v-select>

			Animateur
			<v-select class="v-select" :value="formSelect.user" :on-change="animChange"
			:options="dataToAddGroupReady.users" label="label"></v-select>

			Application par défaut
			<v-select class="v-select" v-if="groupToModify" v-model="formSelect.default_app" :on-change="defaultAppChange"
			:options="groupToModify.applications.application"></v-select>

			<div class="button-checkbox-container">
				<label>
					Espace public 
					<toggle-button class="button-checkbox" @change="publicPartChange" :value="formSelect.public_part" :sync="true" :labels="true" color="#b44c55"></toggle-button>
				</label>
			</div>
			<div class="button-checkbox-container">
				<label>
					Historique des fichiers 
					<toggle-button class="button-checkbox" @change="historyChange" :value="formSelect.history" :sync="true" :labels="true" color="#b44c55"></toggle-button>
				</label>
			</div>
		</form>

	</div>


	<div v-else>

		<div v-if="formInput && formSelect.skeletonFile && formSelect.default_app">
			<form>
				<div>
					<label> Identifiant <input type="text" name="firstname" v-model="formInput.ident" @input="inputChange()"></label>
				</div>
				<div>
					<label> Description <input type="text" name="lastname" v-model="formInput.description" @input="inputChange()"></label>
				</div>


				Langue
				<v-select class="v-select" :value="formSelect.lang" :on-change="selectChange"  
				:options="dataToAddGroupReady.languages" label="label"></v-select>

				Animateur
				<v-select class="v-select" :value="formSelect.user" :on-change="animChange"
				:options="dataToAddGroupReady.users" label="label"></v-select>

				Squelette
				<v-select class="v-select" :value.sync="formSelect.skeletonFile" :on-change="skeletonChange"
				:options="dataToAddGroupReady.skeletons" label="name"></v-select>

				Application par défaut
				<v-select class="v-select" v-if="currentSkeleton" v-model="formSelect.default_app" :on-change="defaultAppChange"
				:options="appsOptions"></v-select>

				<div class="button-checkbox-container">
					<label>
						Espace public 
						<toggle-button class="button-checkbox" @change="publicPartChange" :value="formSelect.public_part" :sync="true" :labels="true" color="#b44c55"></toggle-button>
					</label>
				</div>
				<div class="button-checkbox-container">
					<label>
						Historique des fichiers 
						<toggle-button class="button-checkbox" @change="historyChange" :value="formSelect.history" :sync="true" :labels="true" color="#b44c55"></toggle-button>
					</label>
				</div>
			</form>
		</div>

	</div>	
</div>
