<div class="add-team-form">
	<div v-if="groupToModify">

		<div v-if="msg">
			{{msg}}
		</div>
		<form>
			<div>
				<label> Identifiant : <input type="text" name="firstname" v-model="formInput.ident" @input="inputChange()"></label>
			</div>
			<div>
				<label> Description : <input type="text" name="lastname" v-model="formInput.description" @input="inputChange()"></label>
			</div>
			<div>
				<label> Langue : 
					<select  v-model="formSelect.lang" v-on:change="selectChange" 
					v-if="optionsLoaded">
						<option v-for="language in dataToAddGroupReady.languages" 
						v-bind:value="language.ident">
							{{language.label}}
						</option>
					</select>
				</label>
			</div>
			<div>
				<label> Animateur : 
					<select  v-model="formSelect.user.rowid" v-on:change="selectChange" v-on:change="animChange" v-if="optionsLoaded">
						<option v-bind:value="user.rowid" v-for="user in dataToAddGroupReady.users">
							{{user.label}}
						</option>
					</select>
				</label>
			</div>
			<div v-if="currentSkeleton">
				<label> Application par défaut : 
					<select  v-model="formSelect.default_app" v-on:change="selectChange" v-on:change="defaultAppChange" v-if="optionsLoaded">
						<option v-bind:value="application.ident"
						v-for="application in currentSkeleton.applications.application">
							{{application.label}}
						</option>
					</select>
				</label>
			</div>
			<div>
				<label>
					Espace public : 
					<input type="checkbox" value="public_part" v-model="formSelect.public_part" v-on:change="selectChange" checked>
				</label>
			</div>
			<div>
				<label>
					Historique des fichiers : 
					<input type="checkbox" value="history" v-model="formSelect.history" v-on:change="selectChange" checked>
				</label>
			</div>
		</form>

	</div>



	<div v-else>

		<div v-if="msg">
			{{msg}}
		</div>
		<form>
			<div>
				<label> Identifiant : <input type="text" name="firstname" v-model="formInput.ident" @input="inputChange()"></label>
			</div>
			<div>
				<label> Description : <input type="text" name="lastname" v-model="formInput.description" @input="inputChange()"></label>
			</div>
			<div>
				<label> Langue : 
					<select  v-model="formSelect.lang" v-on:change="selectChange">
						<option v-for="language in dataToAddGroupReady.languages" 
						v-bind:value="language.ident"
						v-bind:selected="language.ident == formSelect.lang">
							{{language.label}}
						</option>
					</select>
				</label>
			</div>
			<div>
				<label> Animateur : 
					<select  v-model="formSelect.user" v-on:change="selectChange" v-on:change="animChange">
						<option v-bind:value="user" v-for="user in dataToAddGroupReady.users">
							{{user.label}}
						</option>
					</select>
				</label>
			</div>
			<div>
				<label> Squelette : 
					<select  v-model="formSelect.skeletonFile" v-on:change="selectChange" v-on:change="skeletonChange">
						<option :value="skeleton.file" 
						v-for="skeleton in dataToAddGroupReady.skeletons"
						v-bind:selected="skeleton.file == formSelect.skeletonFile">
							{{skeleton.name}}
						</option>
					</select>
				</label>
			</div>
			<div v-if="currentSkeleton">
				<label> Application par défaut : 
					<select  v-model="formSelect.default_app" v-on:change="selectChange" v-on:change="defaultAppChange">
						<option v-bind:value="application.ident" 
						v-for="application in currentSkeleton.applications.application"
						v-bind:selected="application.ident == formSelect.default_app">
							{{application.label}}
						</option>
					</select>
				</label>
			</div>
			<div>
				<label>
					Espace public : 
					<input type="checkbox" value="public_part" v-model="formSelect.public_part" v-on:change="selectChange" checked>
				</label>
			</div>
			<div>
				<label>
					Historique des fichiers : 
					<input type="checkbox" value="history" v-model="formSelect.history" v-on:change="selectChange" checked>
				</label>
			</div>
		</form>

	</div>	
</div>
