@import 'src/stylesheets/common/_fonts';

@import 'src/stylesheets/common/_mixins';

@import 'src/stylesheets/common/_variables';

.add-team-groups {

	&__test-tables {
		display: flex;
		justify-content: space-between;
	}

	& table {
		width: 50%;
	}
	& th {
		text-align: center;
	}

	& h1 {
		text-align: center;
	}

	& li:hover {
		background-color: $color-grey-light;
	}

	&__lists-groups {

		& h1 {
			margin-bottom: 5%;
		}

		display: flex;
		justify-content: space-between;
		margin-right: 2%;
		margin-left: 2%;
		margin-bottom: 5%;

	}

	&.spans-test {
		display: flex;
	}
}