<div class="add-team-groups">

	<h1 class="in-out-type">Groupes de l'équipe</h1> <br />

	<div class="in-out-titles">
		<span class="left">L'équipe n'est pas membre</span>
		<span class="right">L'équipe est membre</span>
	</div>

	<ul class="in-out-list">
		<li v-for ="group in allGroupsInOut" v-bind:class="[detectGroup(group) === 1 ? 'in-out-list__in': 'in-out-list__out']">
			<span v-if="detectGroup(group) === 1" v-on:click="removeGroupTeam(group)"> <!-- dedans -->
				{{group.ident}}
			</span>
			<span v-else v-on:click="addGroupTeam(group)"> <!-- dehors -->
				{{group.ident}}
			</span>
		</li>
	</ul>
	
</div>