<div class="groups-table">
	<table>
		<tr>
			<th>✔ <input type="checkbox" v-on:click="selectAllGroups()" v-model="areAllGroupsSelected"></th>
			<th>Identifiant</th>
			<th>Animateur</th>
			<th>Utilisateurs</th>
			<th>Équipes</th>
			<th>Création</th>
			<th>Dernière connexion</th>
			<th>Espace disque</th>
		</tr>
		<tr v-for="group in groups" v-on:dblclick="detailsGroup(group)">
			<td><input type="checkbox"  v-on:click="checkGroup(group.rowid)" v-model="checkedGroups" v-bind:value="group.rowid"></td> 
			<td>{{group.ident}}</td>
			<td>{{group.animator}}</td>
			<td>{{group.nb_users}}</td>
			<td>{{group.nb_teams}}</td>
			<td>{{group.created}}</td>
			<td>{{group.last_connection}}</td>
			<td>{{group.disk_space_used}}</td>
		</tr>
	</table>
</div>