@import 'src/stylesheets/common/_fonts';

@import 'src/stylesheets/common/_mixins';

@import 'src/stylesheets/common/_variables';

@import 'src/stylesheets/common/_button';

.action-button {
    font-size: 1.02em;
    width: 100%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    transition: all 0.3s ease 0s;
    // font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.action-button:hover {
	cursor: pointer;
	color: $highlight-color;
}
