@import 'src/stylesheets/common/_fonts';

@import 'src/stylesheets/common/_mixins';

@import 'src/stylesheets/common/_variables';

@import 'src/stylesheets/common/_button';

.box-actions-buttons {

	list-style-type: none;
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
    overflow: hidden;
    background-color: $highlight-color;

    & li {
   		float: left;
	}

	& li a, p, button {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	& li button:hover {
	    background-color: $color-grey-medium;
	}

}