@import 'src/stylesheets/common/_fonts';
@import 'src/stylesheets/common/_mixins';
@import 'src/stylesheets/common/_variables';

/* .button {
    background-color: $highlight-color;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
    text-align: left;
} */