@import 'src/stylesheets/common/_fonts';

@import 'src/stylesheets/common/_mixins';

@import 'src/stylesheets/common/_variables';

.in-out-type {

	text-align: center;
	font-size: 1.5em;
	margin-top: 2%;
	margin-bottom: 2%;

}

.in-out-list {

	& li:nth-child(even){background-color: $color-grey-light}

	&__in {

		text-align: right;
		color: #55b44c;

	}

	&__out {

		text-align: left;
		color: #ff1a1a;

	}

	& span {
		display: block;
		padding: 8px;
	}

}

.in-out-titles {
	padding: 0 2% 3% 2%;
	margin-top: 2%;
}

.right {
	float: right;
}

.search-bar {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
